<!--   страница авторизации     -->

{% extends "base.html" %}       <!-- отсылка на base.html-->
{% block content %}             <!-- типа декоратор-->

<h1> Войти</h1>
<form action="" method="POST" novalidate>       <!-- в action указывается url куда отправлять форму-->
<a href="/registration">Регистрация</a>         <!--   ссылка на страницу регистрации     -->
    {{ form.hidden_tag() }}   <!--   можно отключить-->
   <p>
        {{ form.username.label }} <br>
        {{ form.username(size=32) }}                        <!--    ввод польховательских данных    -->
    </p>
    <p>
        {{ form.password.label }} <br>          
        {{ form.password(size=32) }}
    </p>
    <p> {{ form.remember_me() }} {{ form.remember_me.label }} </p>
    <p> {{ form.submit() }} </p>

</form>


{% endblock %}